.container {
    margin: 2em;
    
}
.card{
    margin: 1em;
    background-color: rgb(243, 174, 214);
    border-radius: 10%;
    box-shadow:10px -4px #20011a;
}
body {
background-color: rgb(206, 27, 125);
}
.card mb-3 {
    background-color: rgb(36, 4, 29);
}
.list-group-item
{
    background-color: rgb(143, 19, 226);
}